<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 実ファイルやディレクトリには何もしない
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # .php ファイルに内部リライト
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+)$ $1.php [L]
</IfModule>
